################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessGame/bin/Debug
/ChessGame/obj/Debug
/.vs/ChessGame/v15
